@import url('../global/styles.css');

#quem-somos {
    
    #quemSomos-topo {
        background-color: var(--primary);
        
        display: flex;
        max-width: 100%;
        
        padding-left: 3rem;
        padding-right: 3rem;
        
        @media(min-width: 1000px) {
            padding-top: 140px;
            padding-right: 0;
        } 

        > div {
            display: flex;
            align-items: center;
            
           > div:nth-child(1) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media(min-width: 900px) {
                    align-items: flex-start;
                    width: 40%;
                    margin-right: 3.5rem;
                }
                
                @media(min-width: 1300px) {
                    margin-left: 3.5rem;
                }

                div {
                    display: flex;
                    margin: 0 0 3rem;

                    > img {
                        width: 520px;

                        max-width: 100%;
                        max-height: 100%;
                    }

                    @media(min-width: 700px) {
                        display: none;
                    }
                }

                h1 {
                    font-size: 25px;
                    font-weight: 600;
                    margin-bottom: 3rem;

                    @media(min-width: 700px) {
                        margin-right: auto;
                    }
                    
                }

                p {
                    @media(min-width: 900px) {
                        width: 537px;
                    }

                    max-width: 100%;

                    margin-right: auto;
                    margin-bottom: 1.5rem;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19.2px;
                }
            }
            
            > div:nth-child(2) {
                position: relative;
                display: none;
                margin-left: auto;
                margin-bottom: -2%;

                @media(min-width: 900px) {
                    display: flex;
                }

                img {
                    margin-top: auto ;
                    margin-left: auto;
                    
                    max-height: 100%;
                    max-width: 100%;
                }
            }

        }

    }

    #quemSomos-equipe {
        align-items: center;
        justify-content: center;

        margin: 58px auto 0;

        padding: 0 1.5rem;

        
        h1 {
            font-size: 31.2px;

            @media(min-width: 1000px) {
                font-size: 45px;
            }
        }
        
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 400px;
            max-width: 100%;
            margin: auto auto 3rem;
            
            @media(min-width:800px) {
                margin: 0 3rem 3rem;
                width: initial;
                flex-direction: row;
                align-items: end;
            }


            .foto {
                min-height:278px;
                width: 100%;

                margin-bottom: 1rem;
                
                img {
                    width: 100%;
                }
                
                @media(min-width: 800px) {
                    margin-right: 30px;
                    width: 258px;
                }
            }

            .info-equipe {
                margin-bottom: 34px;

                @media(min-width:800px) {
                    width: 500px;
                    margin-right: 65px;
                }

                @media(min-width:1000px ){
                    margin-right: 100px;
                }

                h3 {
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: 600;
                }

                h4 {
                    font-size: 15px;
                    line-height: 18px;
                    font-weight: 500;

                    color: var(--red);

                    @media(min-width:1000px) {
                        margin-top: 9px;
                        margin-bottom: 21px;
                    }
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16.8px;
                }
            }

            .sociais {
                display: flex;
                justify-content: space-between ;
                width: 100%;
                
                @media(min-width: 800px) {
                    width: initial;
                    flex-direction: column;

                    img {
                        margin-bottom: 24px;
                        
                    }
                    img:nth-last-child(4) {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }

    #missao {
        display: flex;
        padding: 3rem;
        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 635px;
            max-width: 100%;

            margin: auto;
            height: 100%;

            h2 {
                font-size: 33px;
                font-weight: 700;
                text-align: center;
                line-height: 39.6px;
                
            }

            h3 {
                font-size: 26px;
                font-weight: 700;
                line-height: 31.2px;
            }

           p {
               font-size: 16px;
               line-height: 19.2px;
                font-weight: 400;

               span {
                   font-weight: 700;
               }
           }
        }
    }

    #home-contato {
        margin-top: -2px;
    }

}