@import url('../global/styles.css');

#registro-marcas {
    
    #solucoes3-home {
        display: flex;
        align-items: center;


        max-width: 100%;
        
        background-color: var(--primary);
        // background-image: url('../../img/group34.png');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position-y: center;
        
        @media(min-width: 1000px) {
            padding-top: 140px;
        }
        
        div {
            width: 392px;
            max-width: 100%;
            margin: auto;
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;

            @media(min-width:1000px) {
                margin-left: 80px;
                text-align: left;
                align-items: flex-start;
            }

            h2 {
                font-size: 30px;
                line-height: 36px;
                color: var(--white);
            }

            p {
                color: var(--white);
                font-size: 16px;
                font-weight: 500;
                line-height: 19.2px;
                margin: 40px auto 33px;
            }

            .bt {
                font-size: 14px;
            }
        }
    }

    #funcionamento {
        background-color: var(--white);
        z-index:-10;

        display: flex;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            margin: 0 30px;

            width: 741px;
            max-width: 100%;

            h2 {
                font-size: 26px;
                line-height: 31.2px;
                letter-spacing: 0.365em;
                text-transform: uppercase;
                
                margin-bottom: 24px;

                text-align: center;
            }

            p {
                font-size: 22px;
                font-weight: 400;
                line-height: 26.4px;

                text-align: center;

                margin-bottom: 3rem;
            }
        }
    }


    #section-3 {
        min-height: auto !important;
        position: relative;
        background-color: var(--primary);

        display: flex;
        align-items: center;
        justify-content: center;


        > div:nth-child(1) {
            width: 502px;
            max-width: 100%;

            padding-left: 20px;
            padding-right: 20px;
            
            @media(min-width: 1000px) {
                margin-left: 25px;
            }
            
            @media(min-width: 1320px) {
                margin-left: 108px;
            } 

            h2 {
                font-size: 26;
                color: var(--white);

                margin-bottom: 1.5rem;

                text-align: center;

                margin-top: 72px;

                @media(min-width: 1000px){
                    text-align: left;
                    margin-top: 0;
                }
            }

            p {
                color: var(--white);
                font-size: 14px;
                margin-bottom: 41px;
                line-height: 16.8px;
                
                text-align: center;
                
                @media(min-width: 1000px) {
                    margin-bottom: 6px;
                    text-align: left;
                }
            }

            .bt {
                width: 333px;
                max-width: 100%;
                font-size: 16px;
                
                line-height: 19.2px;

                margin: auto auto 67px;

                @media(min-width: 1000px) {
                    margin: initial;
                }
            }
        }

        > div:nth-child(2) {
            margin-left: auto;
            display: none;

            @media(min-width: 1000px) {
                display: flex;
            }
            
            img {
                max-width: 100%;
            }
        }
    }

    #steps-process {
        position: relative;
        min-height: auto;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;

            h5 {
                font-size: 23px;
                line-height: 27.6px;
                color: var(--primary);
                
                text-transform: uppercase;
                text-align: center;
                font-weight: 600;
                
                margin-top: 54px;
                margin-bottom: 0;
                
                @media(min-width: 1000px) {
                    font-size: 30px;
                    text-align: left;
                }
            }

            .separator {
                width: 30%;
                height: 3px;
            }

        }

        .steps {
            display: flex;
            align-items: center;
            flex-direction: column;

            max-width: 100%;
            margin-top: 68px;

            @media(min-width: 880px) {
                flex-direction: row;
            }

            .step {
                display: flex;
                flex-direction: column;
                align-items: center;

                @media(min-width:880px) {
                    margin-right: 100px;
                }

                &:nth-child(4) {
                    margin-right: 0;
                }

                > div {
                    height: 140px;
                    width: 100px;
                }

                p {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19.2px;

                    color: var(--primary);

                    text-align: center;
                    margin-bottom: 78px;
                }
            }
        }
    }

    #home-contato {
        margin-top: -2px;
    }
}