@import url('../global/styles.css');


#banner-list-blog {
    height:490px; 
    background-color: #000;
    
    > div {
        background-image: url('/wp-content/themes/la_music/assets/img/bg-blog.png'); 
        width:100%; 
        height:100%;

        h2 {
            font-size: 3.75rem !important;
        }

        .has-search {
            width: 500px;
            max-width: 90%;
            position: relative;
            #search-post {
                background-color: transparent;
                border: 2px solid var(--white);
                height: 57px;
                width: 100%;
                border-radius: 6px;
                
                font-size: 1.23rem;
                padding-left: 25px;
                
                color: var(--white);
                &::placeholder{
                    color: var(--white);
                }
            }

            .fa-search {
                position: absolute;
                z-index: 2;
                display: block;
                width: 2.375rem;
                height: 2.375rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: var(--white);
                right: 10px;
                bottom: 15px
            }
        }

        .has-tags {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            margin: 1rem;

            p {
                color: var(--white);
                font-size: 1.23rem;
                font-weight: 600;
                margin-right: 16px;
            }
            
            .tag-filter {
                cursor: pointer;
                margin-right: 16px;
                margin-bottom: 1rem;
                border-radius: 16px;
                border: 1px solid var(--white);
                
                height: 33px;
                display: flex;
                align-items: center;

                padding: 0rem 1.5rem;
                color: var(--white);
                font-weight: 600;
                font-size: 1.23rem;

                &:hover {
                  background-color: var(--red);  
                  border: none;
                }

                &.active {
                    background-color: var(--red);  
                    border: none;
                }
            }
        }
            
        h2 {
            font-size: 4.61rem;
        }

    }
}

.blog-category {
    margin-right: 2.37rem;
    min-width: 212px;
    max-width: 212px;

    .name-category {
        font-size:2.76rem;
        font-weight: 600;

        &:first-letter { text-transform: capitalize; }
    }

    .link-category-posts {
        font-size: 1rem;
        font-weight: 500;
        color: var(--red);
    }
}

.cards-blog {
    min-width: 304px;
    max-width: 304px;

    @media(min-width: 700px) {
        margin-right: 20px;
    }

    h1 {
        font-size: 16px;
        line-height: 19.2px;

        text-transform: uppercase;
    }

    p {
        font-size: 14px;
        line-height: 16.8px;
    }

    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19.2px;
    }
}