@import url("../global/styles.css");
#creditos-retidos #section1 {
  position: relative;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 135px;
}

@media (min-width: 1000px) {
  #creditos-retidos #section1 {
    background-position-x: center;
    padding-top: 140px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#creditos-retidos #section1 div:nth-child(1) {
  width: 418px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 28px;
  padding-right: 28px;
}

@media (min-width: 1000px) {
  #creditos-retidos #section1 div:nth-child(1) {
    margin-left: 90px;
    padding-left: 0;
  }
}

#creditos-retidos #section1 div:nth-child(1) h1 {
  text-align: center;
  color: var(--white);
  font-size: 30px;
  line-height: 36px;
}

@media (min-width: 1000px) {
  #creditos-retidos #section1 div:nth-child(1) h1 {
    text-align: left;
  }
}

#creditos-retidos #section1 div:nth-child(1) p {
  margin-top: 10px;
  color: var(--white);
  text-align: center;
  font-size: 16px;
  line-height: 19.2px;
}

@media (min-width: 1000px) {
  #creditos-retidos #section1 div:nth-child(1) p {
    text-align: left;
  }
}

#creditos-retidos #section1 div:nth-child(1) .bt {
  margin-top: 26px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1000px) {
  #creditos-retidos #section1 div:nth-child(1) .bt {
    margin-left: initial;
    margin-right: initial;
  }
}

#creditos-retidos #section1 div:nth-child(2) {
  display: none;
  margin-right: auto;
}

@media (min-width: 1000px) {
  #creditos-retidos #section1 div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
  }
}

@media (min-width: 1100px) {
  #creditos-retidos #section1 div:nth-child(2) {
    width: 565px;
  }
}

@media (min-width: 1218px) {
  #creditos-retidos #section1 div:nth-child(2) {
    width: 680px;
  }
}

@media (min-width: 1320px) {
  #creditos-retidos #section1 div:nth-child(2) {
    width: initial;
  }
}

#creditos-retidos #section2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary);
}

@media (min-width: 1000px) {
  #creditos-retidos #section2 {
    background-image: url("../../img/bg-solucoes-info.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 230px;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}

#creditos-retidos #section2 > div {
  width: 490px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 1000px) {
  #creditos-retidos #section2 > div {
    margin-left: 99px;
    margin-right: initial;
    padding-left: 0;
    padding-right: 0;
  }
}

#creditos-retidos #section2 > div h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--white);
  text-align: center;
  margin-bottom: 17px;
}

@media (min-width: 1000px) {
  #creditos-retidos #section2 > div h2 {
    text-align: left;
  }
}

#creditos-retidos #section2 > div p {
  color: var(--white);
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  margin-top: 17px;
}

@media (min-width: 1000px) {
  #creditos-retidos #section2 > div p {
    text-align: left;
  }
}

#creditos-retidos #section2 > div h3 {
  color: var(--white);
  text-align: center;
  margin-top: 7px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 21.6px;
}

@media (min-width: 1000px) {
  #creditos-retidos #section2 > div h3 {
    text-align: left;
  }
}

#creditos-retidos #section2 > div .bt {
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
  font-size: 14px;
  line-height: 16.8px;
}

@media (min-width: 1000px) {
  #creditos-retidos #section2 > div .bt {
    margin-right: auto;
    margin-left: initial;
  }
}

#creditos-retidos #section2 img {
  position: absolute;
  top: -1px;
  width: 100%;
  z-index: 2;
}

#creditos-retidos #section3 {
  min-height: auto;
  z-index: 2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1000px) {
  #creditos-retidos #section3 {
    margin-top: -2%;
    max-width: 90%;
  }
}

#creditos-retidos #section3 > div {
  background-color: var(--white);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#creditos-retidos #section3 > div h5 {
  margin-top: 60px;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 24px;
  color: var(--gray);
  text-align: center;
}

@media (min-width: 1000px) {
  #creditos-retidos #section3 > div h5 {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 9px;
  }
}

#creditos-retidos #section3 > div p {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media (min-width: 1000px) {
  #creditos-retidos #section3 > div p {
    font-size: 35px;
    line-height: 42px;
  }
}

#creditos-retidos #section3 #motivos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  margin-bottom: 78px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1000px) {
  #creditos-retidos #section3 #motivos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

#creditos-retidos #section3 #motivos .motivo {
  width: 220px;
  max-width: 100%;
  margin-bottom: 45px;
}

#creditos-retidos #section3 #motivos .motivo > div {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#creditos-retidos #section3 #motivos .motivo p {
  color: var(--primary);
  font-size: 16px;
  text-align: center;
  line-height: 19.2px;
}

#creditos-retidos #home-contato {
  margin-top: -2%;
  background-color: var(--white);
}
/*# sourceMappingURL=styles.css.map */