:root{
  font-size: 16px;
}
body {
  .logoTop {
    width: 20%;
  }
  .mobile-none {
    display: inline;
  }
  header {
    width: 100vw;
    nav {
      background: transparent;
      #top-nav {
        float: right;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 0;
        padding-bottom: 0;
        li {
          display: flex;
          justify-content: center;
          margin-right: 1rem !important;
          min-width: 110px;
          a {
            color: #fff;
          }
        }
        
      }
    }
    .nav-desktop {
      display: inline;
    }
    .nav-mobile {
      display: none;
    }
  }
  
}


#home-quemsomos{
}

#home-depoimento{
  .infoautor{
    h3{
      color: #7E7E7E;
    }
  }
}
#home-parceiros{
}

#home-clientes{
  .btChamada{
    width: 280px;
  }
}

#home-contato{
  .card{
    border-radius: 0;
    .card-header{
      text-align: center;
    }
  }
}


.scrollActive{
  overflow-x: auto;
      padding-bottom: 1em;
      &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: #f5f0f0;
      }
      &::-webkit-scrollbar {
          width: 12px;
          height: 10px;
          border-radius: 10px;
          background-color: #f5f0f0;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #c4c4c4;
        }
}