@import url('../global/styles.css');

#contratos {

    #home-contrato {
        padding-top: 140px;
        
        background-color: var(--primary);
        
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            padding: 0 27px;

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 741px;
            max-width: 100%;

            @media(min-width:1000px) {
                margin: 110px auto;
            }

            h1 {
                font-size: 26px;
                line-height: 36px;
                font-weight: 600;
                
                color: var(--white);
                
                text-align: center;
                margin-bottom: 50px;
                
                @media(min-width: 1000px) {
                    font-size: 30px;
                }
            }
            
            p {
                font-size: 16px;
                line-height: 19.2px;
                text-align: center;

                color: var(--white);

                margin-bottom: 62px;
            }

            .bt {
                width: 265px;
                max-width: 100%;
            }
        }
    }

    #home-contato {
        margin-top: -2px;
    }
}