
@import url('../../fonts/stylesheet.css');

:root{
  font-size: 13px;

  --primary: #000;
  --secondary: #262626;
  --footer: #111111;
  --gold: #EAB41F;
  --gray-ligth: #E5E5E5;
  --white: #fff;
  --gray: #7E7E7E;
  --red: #FF2A2A;
  --orange: #FF5656;

  p {
    margin-bottom: 0;           
  }
}


section {
  min-height: 550px;
}

.bt {
  height: 48px;
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
    opacity: 0.9;

  }
}

.avatar {
  width: 105px;
  height: 105px;

  border-radius: 50%;

  background: var(--gray);

  img {
    border-radius: 50%;
    width: 100%;
  }
}

.separator {
  width: 70%;
  height: 6px;
  border-radius: 4px;
}

.bg-light {
  background: var(--gray-ligth);

  h1,h2,h3,p, li, strong {
      color: var(--primary);
  }
}

.bg-dark {
    background-color: var(--primary) !important;
    h1,h2,h3,p, li, strong {
      color: var(--white);

      &:hover{
        color: var(--white)
      }
  }
}

.bg-white {
  background: var(--white);
  color: var(--primary);

  &:hover{
    color: var(--primary)
  }
}

.bg-red {
  background: var(--red) !important;
  color: var(--white);    

  &:hover{
    color: var(--white)
  }
}

.bg-orange {
  background: var(--orange);
  color: var(--white);

  &:hover{
    color: var(--white)
  }
}

.desktop {
  display: none;

  @media(min-width: 1000px) {
    display: flex;
  }
}

.mobile {
  display: flex;

  @media(min-width: 1000px) {
    display: none;
  }
}

body {
  font-family: 'AvenirRegular';

 
  
  b{
    font-family: 'AvenirBold';
  }
  .LoraBold{
    font-family: 'LoraBold';
  }
  .LoraRegular{
    font-family: 'LoraRegular';
  }
  .avenirBold{
    font-family: 'AvenirBold';
  }
  .avenirRegular{
    font-family: 'AvenirRegular';
    font-weight: normal;
  }
  .avenirRegular-600{
    font-family: 'AvenirRegular';
    font-weight: 600;
  }
  .avenirRegular-500{
    font-family: 'AvenirRegular';
    font-weight: 500;
  }
  .f14{
    font-size: 0.875rem;
  }
  .f15{
    font-size: 0.9375rem;
  }
  .f16{
    font-size: 1rem;
  }
  .f18{
    font-size: 1.125rem;
  }
  .f20{
    font-size: 1.25rem;
  }
  .f22{
    font-size: 1.375rem;
  }
  .f23{
    font-size: 1.4375rem;
  }
  .f25{
    font-size: 1.5625rem;
  }
  .f26{
    font-size: 1.625rem;
  }
  .f28{
    font-size: 1.75rem;
  }
  .f30{
    font-size: 1.875rem;
  }
  .f33{
    font-size: 2.0625rem;
  }
  .f35{
    font-size: 2.1875rem;
  }
  .f40{
    font-size: 2.5rem;
  }
  .f45{
    font-size: 2.8125rem;
  }
  .f50{
    font-size: 3.125rem;
  }
  .f70{
    font-size: 4.375rem;
  }

 
  // .menu-menu-topo-container{
  //   // padding-top: 3rem;
  //   // padding-bottom: 3rem;
  // }

  .nav-desktop{
    @media(max-width: 980px) {
      display: none;
    }
  }

  .nav-mobile { 
    @media(min-width: 980px) {
      display: none;
    }
  }
  

  #top-nav {
    @media(min-width: 980px) {
      flex-direction: row;
    }

    li {
      @media(min-width: 980px) {
        margin-right: 80px !important;
      }
      
      &:last-child {
        margin-right: 0 !important;
      }

      a {
        font-family: 'AvenirBold';
        font-size: 14px;
        color: #fff;
      }

      .dropdown-menu{
          background-color: #111111;
          text-align: center;
      
          .dropdown-item {
            font-family: 'AvenirRegular-500';
            font-size: 1.25rem;
          }
      }
    }
  }
}

  .navbar-toggler {
    border: none;
    margin-left: auto;

    outline: none;
  }
 

  main {
    @media(max-width: 980px) {
      padding-top: 70px;
    }
  }

  

  #home-contato {
    > div {
      background-image: url('../img/18.png');
      background-repeat: no-repeat;
      background-size: cover;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    @media(min-width:1000px) {
      margin-top: -125px;
      
      #home-contato-logo {
        margin-top: 80px !important;
      }
    }

    .card {
      max-width: 100%;
      width: 483px;

      .card-header {
        border-bottom: none;
        background: var(--white);

        display: flex;
        flex-direction: column;
        align-items: center;
        
      }

      .card-body {
        position: relative;
        background-color: var(--white);
      }
    }
  }

  form{
    p {
      margin-bottom: 1rem !important;
    }
    .wpcf7-text{
        border-radius: 0; 
        border: 1px solid #DBDBDB; 
        height: 50px;
    }
    
    .wpcf7-textarea{
      border-radius: 0; 
      border: 1px solid #DBDBDB
    }

    input[type=submit]{
      background-color: var(--red);
      color: var(--white);
      height: 50px;
    }
  }

  .bodyPoliticas{
    p{
      font-family: 'avenirRegular';
      line-height: 22px;
    }
  }

  .bodyTermos{
    p{
      text-align: justify;
      font-family: 'avenirRegular';
      line-height: 22px;
    }
  }


  /* FOOTER*/
  footer{
    background-color: var(--footer);

   >  div {
      >  div:nth-child(1) {
        text-align: center;
          p {
            width: 280px;
            margin: auto;
          }
        }
    }

    @media(min-width:1000px) {
      div:nth-child(3) {
      >  div {
          width: 280px !important;
        }
      }
    }

    #bot-nav {
      list-style: none;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      margin-bottom: 0;
      padding-bottom: 0;

      li {
        margin-left: auto;
        margin-right: auto;
        min-width: 110px;

        a {
          font-family: 'AvenirRegular';
          font-weight: 600;
          font-size: 14px !important;
          color: var(--gray);

          line-height: 32px;
          padding: 0;
        }

        .dropdown-menu{
          background-color: var(--footer);
          position: relative !important;
          text-align: center;
          transform: unset !important;

          .dropdown-item {
            font-family: 'AvenirRegular-500';
            font-size: 0.85rem;
          }
        }
      }

      .current-menu-item {
        a {
          font-family: 'AvenirBold';
          font-size: 1.125rem !important;
          color: var(--white);
        }
         
      }
    }

    #list-servicos{
      list-style: none;

      li{
        
        a {
          color:#7E7E7E;

          font-size: 14px;
          line-height: 32px;
          text-decoration: none;
        }
      }
    }
  }

  #quemSomos-equipe{
    .infoEquipe{
      h4{
        color: var(--red);
      }

      p{
        color: #444444;
        font-size: 0.875rem;
        line-height: 17px;
        font-family: 'avenirRegular';
        font-weight: 500;
      }
    }
  }



#slider{
  position: relative;
} 

#slider section {
  display: none !important;
  opacity: 0;
  position: relative;
  object-fit: cover;
  animation-duration: 5s;
  transition: opacity 1000ms;
}

#slider {
  section {
    &.selected{
      display: flex !important;
      opacity: 1;
    }
  }
}

.scrollActive{
  overflow-x: auto;
      padding-bottom: 1em;
      &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: #f5f0f0;
      }
      &::-webkit-scrollbar {
          width: 12px;
          height: 10px;
          border-radius: 10px;
          background-color: #f5f0f0;
        }
        &::-webkit-scrollbar-thumb {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          border-radius: 12px;
          background-color: #7E7E7E;
        }
}


.custom-scroll {
  &::-webkit-scrollbar {
    width: 142px;
    height: 11px;
  }
  
  &::-webkit-scrollbar-track {
    margin: 1.5rem;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb{ 
    width: 142px;
    background-color: #7E7E7E;   
    border-radius: 12px;     
  }
}