@import url("../../fonts/stylesheet.css");
:root {
  font-family: "AvenirRegular";
  --primary: #000;
  --secondary: #262626;
  --footer: #111111;
  --blue: #000a13;
  --gray-ligth: #e5e5e5;
  --white: #fff;
  --gray: #7e7e7e;
  --red: #ff2a2a;
  --orange: #ff5656;
  --green: #0fbb00;
}

:root p {
  margin-bottom: 0;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

section {
  min-height: 550px;
}

.bt {
  height: 48px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bt:hover {
  text-decoration: none;
  opacity: 0.9;
}

.avatar {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background: var(--gray);
}

.avatar img {
  border-radius: 50%;
  width: 100%;
}

.separator {
  width: 70%;
  height: 6px;
  border-radius: 4px;
}

.bg-light {
  background: var(--gray-ligth);
}

.bg-light h1,
.bg-light h2,
.bg-light h3,
.bg-light p,
.bg-light li,
.bg-light strong {
  color: var(--primary);
}

.bg-dark {
  background-color: var(--primary) !important;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark p,
.bg-dark li,
.bg-dark strong {
  color: var(--white);
}

.bg-dark h1:hover,
.bg-dark h2:hover,
.bg-dark h3:hover,
.bg-dark p:hover,
.bg-dark li:hover,
.bg-dark strong:hover {
  color: var(--white);
}

.bg-green {
  background-color: var(--green) !important;
  color: var(--white);
}

.bg-green:hover {
  color: var(--white);
}

.bg-green h1,
.bg-green h2,
.bg-green h3,
.bg-green p,
.bg-green li,
.bg-green strong {
  color: var(--white);
}

.bg-green h1:hover,
.bg-green h2:hover,
.bg-green h3:hover,
.bg-green p:hover,
.bg-green li:hover,
.bg-green strong:hover {
  color: var(--white);
}

.bg-white {
  background: var(--white);
  color: var(--primary);
}

.bg-white:hover {
  color: var(--primary);
}

.bg-red {
  background: var(--red) !important;
  color: var(--white);
}

.bg-red:hover {
  color: var(--white);
}

.bg-orange {
  background: var(--orange);
  color: var(--white);
}

.bg-orange:hover {
  color: var(--white);
}

.desktop {
  display: none;
}

@media (min-width: 1024px) {
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

body {
  font-family: "AvenirRegular";
}

body b {
  font-family: "AvenirBold";
}

body .LoraBold {
  font-family: "LoraBold";
}

body .LoraRegular {
  font-family: "LoraRegular";
}

body .avenirBold {
  font-family: "AvenirBold";
}

body .avenirRegular {
  font-family: "AvenirRegular";
  font-weight: normal;
}

body .avenirRegular-600 {
  font-family: "AvenirRegular";
  font-weight: 600;
}

body .avenirRegular-500 {
  font-family: "AvenirRegular";
  font-weight: 500;
}

@media (max-width: 1055px) {
  body .nav-desktop {
    display: none;
  }
}

@media (min-width: 1055px) {
  body .nav-mobile {
    display: none;
  }
}

@media (min-width: 1055px) {
  body #top-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body #top-nav > li:last-child {
  background-color: var(--orange);
  padding: 0.3rem 1.5rem;
}

body #top-nav li {
  position: relative;
}

@media (min-width: 1055px) {
  body #top-nav li {
    margin-right: 45px !important;
  }
}

@media (min-width: 1140px) {
  body #top-nav li {
    margin-right: 80px !important;
  }
}

body #top-nav li:last-child {
  margin-right: 0 !important;
  border-radius: 6px;
}

body #top-nav li a {
  font-family: "AvenirBold";
  font-size: 16px;
  color: var(--white);
  white-space: pre-wrap;
}

body #top-nav li .dropdown-menu {
  background-color: #111111;
  text-align: center;
}

@media (min-width: 1055px) {
  body #top-nav li .dropdown-menu {
    position: absolute;
    background-color: var(--white);
  }
  body #top-nav li .dropdown-menu .menu-item {
    background-color: transparent;
    margin-right: auto !important;
  }
}

body #top-nav li .dropdown-menu .dropdown-item {
  font-family: "AvenirRegular-500";
  font-size: 16px;
  margin: 10px 0;
}

@media (min-width: 1055px) {
  body #top-nav li .dropdown-menu .dropdown-item {
    color: var(--primary);
  }
}

.navbar-toggler {
  border: none;
  margin-left: auto;
  outline: none;
}

@media (max-width: 1055px) {
  main {
    padding-top: 70px;
  }
}

#home-contato > div {
  background-image: url("../../img/18.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1055px) {
  #home-contato {
    margin-top: -125px;
  }
  #home-contato #home-contato-logo {
    margin-top: 80px !important;
  }
}

#home-contato .card {
  max-width: 100%;
  width: 483px;
}

#home-contato .card .card-header {
  border-bottom: none;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-contato .card .card-body {
  position: relative;
  background-color: var(--white);
}

form p {
  margin-bottom: 1rem !important;
}

form .wpcf7-text {
  border-radius: 0;
  border: 1px solid #dbdbdb;
  height: 50px;
}

form .wpcf7-textarea {
  border-radius: 0;
  border: 1px solid #dbdbdb;
}

form input[type="submit"] {
  background-color: var(--red);
  color: var(--white);
  height: 50px;
}

.bodyPoliticas p {
  font-family: "avenirRegular";
  line-height: 22px;
}

.bodyTermos p {
  text-align: justify;
  font-family: "avenirRegular";
  line-height: 22px;
}

/* FOOTER*/
footer {
  background-color: var(--footer);
}

footer > div > div:nth-child(1) {
  text-align: center;
}

footer > div > div:nth-child(1) p {
  width: 280px;
  margin: auto;
  font-size: 16px;
}

@media (min-width: 1055px) {
  footer div:nth-child(3) > div {
    width: 280px !important;
  }
}

footer #bot-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer #bot-nav li {
  margin-left: auto;
  margin-right: auto;
  min-width: 110px;
  margin: 5px auto;
}

footer #bot-nav li a {
  font-family: "AvenirRegular";
  font-weight: 600;
  font-size: 16px !important;
  color: var(--gray);
  line-height: 32px;
  padding: 0;
}

footer #bot-nav li .dropdown-menu {
  background-color: var(--footer);
  position: relative !important;
  text-align: center;
  -webkit-transform: unset !important;
          transform: unset !important;
  margin: 10px auto;
}

footer #bot-nav li .dropdown-menu .dropdown-item {
  font-family: "AvenirRegular-500";
  font-size: 16px;
}

footer #bot-nav .current-menu-item a {
  font-family: "AvenirBold";
  font-size: 16px !important;
  color: var(--white);
}

footer #list-servicos {
  list-style: none;
}

footer #list-servicos li {
  margin: 10px auto;
}

footer #list-servicos li:first-child {
  margin-top: 0;
}

footer #list-servicos li a {
  color: #7e7e7e;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
}

footer div p:nth-child(1) {
  margin-top: 10px;
}

footer div p {
  font-family: "AvenirRegular";
  color: var(--gray);
}

footer .text-abramus {
  font-size: 16px;
  margin-bottom: 16px;
}

footer .address-footer {
  margin-top: 16px;
  font-size: 16px;
}

.text-sociais {
  font-size: 16px;
}

.text-footer {
  font-size: 16px;
}

#quemSomos-equipe .infoEquipe h4 {
  color: var(--red);
}

#quemSomos-equipe .infoEquipe p {
  color: #444444;
  font-size: 0.875rem;
  line-height: 17px;
  font-family: "avenirRegular";
  font-weight: 500;
}

#slider {
  position: relative;
}

#slider section {
  display: none !important;
  opacity: 0;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

#slider section.selected {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1;
}

.scrollActive {
  overflow-x: auto;
  padding-bottom: 1em;
}

.scrollActive::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f0f0;
}

.scrollActive::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  border-radius: 10px;
  background-color: #f5f0f0;
}

.scrollActive::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #7e7e7e;
}

.custom-scroll::-webkit-scrollbar {
  height: 11px;
}

.custom-scroll::-webkit-scrollbar-track {
  margin: 1.5rem;
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  width: 142px;
  background-color: #7e7e7e;
  border-radius: 12px;
}

@media (max-width: 720px) {
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
/*# sourceMappingURL=styles.css.map */