@import url('../global/styles.css');

#direitos-autorais {
 
    #admin-autoral {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        
        
        @media(min-width: 1000px) {
            padding-top: 140px;
        }

         div:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-left: auto;
            margin-right: auto;

            padding-right: 15px;
            padding-left: 15px;
            
            width: 456px;
            max-width: 100%;
            
            @media(min-width: 1000px) {
                margin-left: 90px;
                margin-right: auto;

                padding-right: 0;
                padding-left: 0;
                
                align-items: flex-start;
                justify-content: start;
                
            }

            h2 {
                font-size: 22px;
                text-align: center;
                color: var(--red);

                margin-bottom: 18px;

                @media(min-width:1000px) {
                    text-align: left;
                }
            }

            h1 {
                font-size: 30px;
                line-height: 42px;
                text-align: center;

                color: var(--white);
                
                margin-bottom: 40px;

                @media(min-width: 1000px) {
                    text-align: left;
                    font-size: 28px;
                }

                @media(min-width: 1100px){
                    font-size: 35px;
                }
            }

            .bt {
                font-size: 14px;
                line-height: 16.8px;
                text-align: center;
            }

        }

        div:nth-child(2) {
            display: none;
            width: 660px;

            @media(min-width:1000px) {
                display: flex;
                margin-right: auto;
            }

            @media(min-width: 1100px) {
                width: 565px;
            }

            @media(min-width: 1218px) {
                width: 680px;
            }

            @media(min-width: 1320px) {
                width: initial;
            }
        }
    }

    #section2 {
        background-color: var(--primary);
        position: relative;
        margin-top: -1px;
        
        display: flex;
        align-items: center;
        min-height: 400px;

        @media(min-width: 1000px){
            min-height: auto;
        }

        div:nth-child(1) {
            width: 540px;
            max-width: 100%;

            margin-left: auto;
            margin-right: auto;

            padding-left: 15px;
            padding-right: 15px;

            @media(min-width:1000px) {
                margin-left: 80px;
                margin-right: initial;

                padding-left: 0;
                padding-right: 0;
            }

          >  p {
                font-size: 20px;
                line-height: 33.6px;
                font-weight: 600;

                text-align: center;

                color: var(--white);

                @media(min-width:1000px) {
                    text-align: left;
                }

                @media(min-width: 1100px) {
                    font-size: 28px;
                }
            }
        }

        div:nth-child(2) {
            display: none;
            margin-left: auto;

            @media(min-width: 1000px) {
                display: flex;
            }
        }

        > img {
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 2;

            display: none;

            @media(min-width:1000px) {
                display: initial;
            }
        }
    }

    #section3 {
        min-height: auto;

        z-index:2; 
        position:relative;
        
        margin-left: auto;
        margin-right: auto;
        
        @media(min-width: 1000px){
            margin-top: -2%; 
            max-width: 90%;

        }

        > div {
            background-color: var(--white);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            h5 {
                margin-top: 60px;
                font-size: 30px;
                line-height: 36px;

                color: var(--primary);
                text-align: center;
                
                @media (min-width:1000px) {
                    font-size: 40px;
                    line-height: 48px;
                    text-align: left;
                }
            }
            
        }

        #servicos {
            display: flex;
            margin-top: 55px;

            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            
            @media(min-width:1000px) {
                flex-direction: row;
                width: 100%;
            }
            
            .servico {
                width: 220px;
                max-width: 100%;
                margin-bottom: 45px;

                > div {
                    min-height: 120px;
                    display: flex;
                    align-items: center;
                }

                p {
                    color: var(--primary);
                    font-size: 16px;
                    text-align: center;
                    line-height: 19.2px;
                }
                
            }

        }
        .bt {
            margin-bottom: 90px;
            width: 304px;
            height: 70px;
            
            font-size: 14px;
            font-weight: 600;
            line-height: 16.8;
            
            @media(min-width: 1000px){
                margin-bottom: -26px;
                
            }
        }

    }

    #home-contato{
        @media(min-width: 1000px) {
            margin-top: -2%;

        }
    }

}